.root {
	min-height: 100%;
}

.hero_section {
	display: grid;
	grid-template-columns: auto 70%;
	flex-grow: 1;

	align-items: center;
}

.hero {
	width: 140%;
	height: 100%;

	background: url('~src/shared/assets/images/feynman.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;

	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.hero_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	max-width: 60%;
	height: 100%;

	padding: 50px 10px;
	margin: 0 auto;
}

.hero_title {
	color: var(--color-primary) !important;
}
.hero_text {
	color: var(--color-dark) !important;
}

.hero_quote {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 50px;
	padding: 0 30px;

	.quote_author {
		color: rgba(0, 0, 0, 0.66) !important;
	}
}

@media (max-width: 720px) {
	.hero_section {
		grid-template-columns: 1fr;
	}

	.hero {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;

		border-radius: 0;
	}

	.hero_content {
		align-items: center;
		max-width: 100%;

		position: relative;
		z-index: 1;
	}

	.hero_quote {
		.quote_author {
			color: rgba(256, 256, 256, 0.66) !important;
		}
	}

	.hero_title {
		background: rgba(256, 256, 256, 0.6);
		border-radius: 20px;
		padding: 10px 20px;
	}

	.hero_text {
		color: white !important;
	}
}
